Dear neighbor #{@sub.name},

Thank you for your interest in Mona's!

We want to create a “restaurantship” with each customer. While we are passionate about excellent food and service we also want to support the community by sourcing fresh ingredients locally when possible.

Remodeling the restaurant is in progress right now, planning to open in about 3 months.

When the opening day draws closer, you'll get an invitation to a special grand-opening event. We look forward to serving you soon!

Mona's Burgers & Shakes staff
