/* This is ugly as hell, but whatever, we'll throw it away in a few months */

body {
  top: -20px;
}

.subscribe {
  background-image: image-url('background/4.jpg');
  background-size: cover;
  background-position: center;
  height: 100%;
  padding: 20px;
  h1, h2, h3, h4 {
    text-align: center;
    color: #f1f1f1;
  }
}

.sign-up-form, .thank-you {
  color: #f1f1f1;
  width: 300px;
  margin: -180px 0 0 -150px;
  position: absolute;
  text-align: center;
  input, small {
    margin-bottom: 0;
  }
  #share_recipe {
    font-style: italic;
    text-decoration: underline;
    cursor: pointer;
    margin-bottom: 15px;
  }
  #recipe {
    display: none;
  }
}

.pb15 {
  padding-bottom: 15px;
}

.thank-you {
  display: none;
}

.center {
  left: 50%;
  top: 50%;
}

@media (max-height: 700px) {
  .sign-up-form.center, .thank-you.center {
    margin: 150px 0 0 -150px;
    top: 0;
    padding-bottom: 20px;
  }
}

@media (max-width: 640px) and (min-width: 420px) and (max-height: 500px) {
  .sign-up-form.center, .thank-you.center {
    margin: 100px 0 0 -150px;
  }
}
