body {
  padding: 50px;
  background-image: image-url('background/4.jpg');
  background-size: cover;
  background-position: center;
}

h2, h3, h4 {
  text-align: center;
  color: #f1f1f1;
}

.sign-up-form, .thank-you {
  color: #f1f1f1;
  width: 300px;
  height: 250px;
  margin: -125px 0 0 -150px;
  position: absolute;
  text-align: center;
  input, small {
    margin-bottom: 0;
  }
  #share_recipe {
    font-style: italic;
    text-decoration: underline;
    cursor: pointer;
    margin-bottom: 15px;
  }
  #recipe {
    display: none;
  }
}

.pb15 {
  padding-bottom: 15px;
}

.thank-you {
  display: none;
}

.center {
  left: 50%;
  top: 50%;
}
